<nav class="navbar navbar-expand-lg fixed-top navbar-light"
  style="background-color: rgba(0,0,0,.4); padding-left: 1%; padding-right: 3%; box-sizing: border-box; ">
  <a class="navbar-brand" href="/"> <img src="../../static/images/logo.png" class="logo"
      style="width: 100px; cursor: pointer;"> </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end  align-items-end" id="navbarText">
    <ul class="navbar-nav mr-auto " style="text-shadow: 2px 2px 5px rgba(0,0,0,.5);font-size: large;">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/search_th">Search(TH)</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/search_uk">Search(UK)</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/pminfo">Article</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
    </ul>
  </div>
  </div>
</nav>
<br>