{% extends 'base_layout.html' %}

{% block body %}
<style>
  body,
  h1 {
    font-family: "Raleway", sans-serif
  }

  body,
  html {
    height: 100%
  }

  .bgimg {
    background-image: url('../static/images/BG.jpg');
    min-height: 100%;
    background-position: center;
    background-size: cover;
  }
</style>

<body>
  <!-- <div class="bgimg w3-hover-grayscale w3-display-container w3-animate-opacity w3-text-white"></div>
      <div class="w3-display-middle">
        <h1 class="w3-jumbo w3-animate-top" style="color:red;text-align: center;">PM 2.5</h1>
        <hr class="w3-border-black" style="margin:auto;width:80%;border-width:0.5em;">
        <p class="w3-large w3-center">Particulate Matter, abbreviated as PM, 
          is a term used for particles found in the air; 
          including dust, soot, dirt, smoke, and liquid droplets. 
          PM2.5 particles are given the 2.5 annotation to describe the size as being 2.5 micrometers or less. Typically these particles are so small they can only be seen with an electron microscope</p>
      </div> -->
  <div class="card text-center border-dark w3-display-middle d-flex align-items-center"
    style="background-color: rgba(0,0,0,.7);">
    <div class="card-header" style="color: crimson;font-size:xx-large;">
      PM 2.5
    </div>
    <div class="card-body">
      <p class="card-text" style="color:  cornsilk;">Particulate Matter (PM) is a mixture of solid and liquid particles that are suspended in the air. 
        These are categorized into coarse, fine and ultrafine. Coarse particles have a diameter of 2.5 micrometres to 10 micrometres 
        (about 25 to 100 times thinner than a human hair), are relatively heavier and thus tend to settle. Dust, spores and pollen are some examples. 
        PM2.5 refers to particles that have diameter less than 2.5 micrometres (more than 100 times thinner than a human hair) and remain suspended for longer.</p>
    </div>
  </div>
  <div class="w3-display-bottomright w3-panel w3-leftbar d-flex align-items-end"
    style="margin-bottom: 60px;background-color: rgba(87, 6, 6, 0.4);color:white;">


    <dl>
      <dt class="w3-xlarge w3-serif w3-display-topleft" style="font-weight: 600;color: white;font-family: fantasy;">"
        Danger! "</dt><br><br>
      <dd>-Irritation of the eye, throat, and nose</dd>
      <dd>-Irregular heartbeats</dd>
      <dd>-Asthma attacks</dd>
      <dd>-Coughing, chest tightness, and shortness of breath</dd>
    </dl>
  </div>


  {% endblock %}