<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
  background-image: url('images/pexels-photo-325185.png');
  min-height:100%;
  background-position: center;
  background-size: cover;
}
</style>
<body>
<div class="bgimg w3-hover-grayscale w3-display-container w3-animate-opacity w3-text-white"></div>
  <div class="w3-display-topleft w3-padding-large w3-xlarge" style="color:red;">
    What is PM2.5
  </div>
  <div class="w3-display-middle">
    <h1 class="w3-jumbo w3-animate-top" style="color:red;text-align: center;">PM 2.5</h1>
    <hr class="w3-border-black" style="margin:auto;width:80%;border-width:0.5em;">
    <p class="w3-large w3-center">Particulate Matter, abbreviated as PM, 
      is a term used for particles found in the air; 
      including dust, soot, dirt, smoke, and liquid droplets. 
      PM2.5 particles are given the 2.5 annotation to describe the size as being 2.5 micrometers or less. Typically these particles are so small they can only be seen with an electron microscope</p>
  </div>

<footer>
  <div class="w3-panel w3-red w3-panel w3-leftbar w3-light-red w3-animate-fading">
    <h3 class="w3-xlarge w3-serif"><i>" Danger! "</i></h3>
    <ul>
      <li>Irritation of the eye, throat, and nose</li>
      <li>Irregular heartbeats</li>
      <li>Asthma attacks</li>
      <li>Coughing, chest tightness, and shortness of breath</li>
    </ul>
  </div>
</footer>

</body>
</html>
